@charset "utf-8";
h1 {
    font-size: 48px;
    text-align: center;
    color: #ff5100;
    text-shadow: black 1px 1px 2px, black 1px 1px 2px;
}
table,tr,td,th { 
    width: 50%;
    margin: 0% auto;
    border: 1px solid goldenrod;
/* border-collapse: collapse; */
}
th {
    font-size: 24px;
    font-weight:800;
}
td {
    font-size: 20px;
    font-weight: 400;
}
body {
    background-color: brown ;
    background-image: url(../adolfo-felix-Yi9-QIObQ1o-unsplash.jpg);
    /* background-size: 100% 100%;
    background-repeat: no-repeat; */
}